{{!--  ##################################### SIXT PAGE TO START - this is the what's in the layout BODY ########################## --}}

<h3>Create a new movie</h3>

<form method="POST" action="/movies">

  <div class="field">
    <label>Name</label>
    <input type="text" name="name" />
  </div>

  <div class="field">
    <label>Year</label>
    <input type="number" name="year" />
  </div>

  <div class="field submit">
    <button type="submit">Save</button>
  </div>
</form>